{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:prettier/recommended",
  ],
  "plugins": [
    "simple-import-sort"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {}
  },
}